body {
  background: #f5f5f5;
  height: 100vh;
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25% 25% ;
  gap: 50px;
}
div {
  border-radius: 15px;
}
img {
  height: 100px;
}

.create {
  background-color: #faeee2;
  grid-row: 1/ span 1;
  grid-column: 1/2;
}
.write {
  background-color: #ffcc69;
  grid-row: 6/ span 1;
  grid-column: 1/2;
}

.social {
  background-color: #7651dc;
  grid-column: 2/4;
  grid-row: 1/4;
}

.schedule {
  background-color: #dcd1fc;
  grid-column: 4/5;
  grid-row: 1/5;
}


.manage {
  background-color: white;
  grid-column: 2/2;
}
.maintain {
  background-color: #ffcc69;
  grid-column: 3/3;
}

.percent {
  background-color: white;
  grid-column: 2/ 3;
  grid-row: 5/6;
}

.grow {
  background-color: #7651dc;
  color: white;
  grid-column: 3/5;
  grid-row: 5/6;
}
